.container{
    display: grid;
    width: 1000px;
    height: 500px;
    color: aliceblue;
    font-size: large;
    font-style: italic;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(100, 199, 199);
    border: 2px solid rgb(169, 46, 46);
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
    column-gap: 15px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    /* place-items: center; */
    column-gap: 20px;
    row-gap: 20px;
    

}
.item{
    height: 100px;
    width: 100px;
    background-color: rgb(187, 107, 107);
    border: 1px solid black;
    text-align: center;
    align-content: center;
} 
.item1{
    /* grid-area: header; */
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: end;

} 
.item2{
    /* grid-column: 2/3;
    grid-row: 1/2; */
    grid-column-start: 2;
    grid-column-end: four;
    justify-self: start;

}
.item3{
    grid-column: 4/5;
    grid-row: 1/2;
} 
.item4{
    grid-column: 1/2;
    grid-row: 2/3;
}
.item5{
    grid-column: 4/5;
    grid-row: 3/4;
} 
