*{
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
    border: 2px solid black;
    height: 200px;
    width: 700px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    gap: 30px 20px;
}
.item{
    height: 50px;
    width: 200px;
    border: 1px solid black;
    background-color: aquamarine;
}
#1{
    height: 150px;
}