.container{
    border: 2px solid black;
    width: 650px;
}

.box{
    background-color: yellow;
    border: 20px solid blue;
    margin: 20px;
    padding: 20px;
    width: 500px;
    text-align: center;
}