*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


P{
    color:blue;
    background-color:burlywood;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.RS{
    color:brown;
    background-color: cadetblue;
    
}

body{
    background-color:azure
}
#l1{
    color: rgb(3, 87, 59);
}
div{
    height: 100px;
    width: 300px;
    background-color: rgb(166, 89, 105);
    border: 2px dotted black;
    padding: 10px;
    margin-left: 50px;
}