p{
    border: 2px solid black;


}

div{
    
    height: 25px;
    width: 250px;
    text-align: center;
    background-color: bisque;
    color: crimson;
    border-color: blue;
    margin: 5px;
    padding: 10px;
    border: 10px solid rgb(77, 21, 130);
    

}
