.container{
    border: 2px solid black;
}

.box1{
    height: 200px;
    width: 150px;
    background-color: blanchedalmond;
    text-align: center;
    margin:20px;
    padding: 20px;
    display:inline-block;
}
.box2{
    height: 200px;
    width: 150px;
    background-color:coral;
    text-align: center;
    margin:20px;
    padding: 20px;
    display: inline-block;
}
.box3{
    height: 200px;
    width: 150px;
    background-color:cadetblue;
    text-align: center;
    margin:20px;
    padding: 20px;
    display:inline-block;
}